footer{
    position: absolute;
    width: 100vw;
    height: 5vh;
    bottom: 0;
    top: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #30cfc7;
}

footer > p{
    margin: 1.5vh 44.8vw;
    width: 10.4vw;
    height: 2vh;

    font-family: "TrinidadNeue", sans-serif;
    color: white;
    font-size: 0.8vw;
}